.favorite-products-section {
  max-width: 140rem;
  margin: 100px auto;
  padding: 0 3.2rem;
}

.favorite-products-title {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
}

.continue-shopping {
  margin: 100px auto;
  text-align: center;
}

.continue-shopping p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 1.6rem;
}
